<footer class="bg-dark text-light pt-4 pb-2">
    <div class="container">
      <div class="row">
        <div class="col-md-4 mb-3">
          <h5>Future Vision</h5>
          <p>Future Vision is a company specializing in office and hotel furniture, as well as interior design and execution of interior decorations.</p>
          <p>&copy; 2024 Futurevision. All rights reserved.</p>
        </div>
        <div class="col-md-2 mb-3">
          <ul class="list-unstyled">
            <li><a href="#features" class="text-light">Features</a></li>

            <li><a href="#about" class="text-light">About us</a></li>
            <li><a href="#products" class="text-light">Our products</a></li>
            <li><a href="#contact" class="text-light">Contact us</a></li>
            <li><a href="#checkout" class="text-light">Checkout form</a></li>
          </ul>
        </div>
        <div class="col-md-3 mb-3">
          <h5>Email us</h5>
          <p><a href="mailto:info@future-vision.asia" class="text-light">info@future-vision.asia</a></p>
          <p><a href="mailto:sales@future-vision.asian" class="text-light">sales@future-vision.asian</a></p>
        </div>
        <div class="col-md-2 mb-3">
          <h5>Call us</h5>
          <p>00966-530070736</p>
        </div>
        <div class="col-md-1 mb-3">
          <h5>Follow us</h5>
          <a href="https://instagram.com" target="_blank">
            <i class="fa-brands fa-instagram text-white  w-100 text-center fs-3"></i>
          </a>
        </div>
      </div>
    </div>
  </footer>
  