<section id="about-us" class="about-us overflow-hidden">
    <div class="container-fluid w-90 mx-auto py-5">
     <div class="row gy-4">
        <div  class="col-lg-3 column ">
            <div class=" inner ">
                <div class="header d-flex">
                    <i class="fa-solid fa-medal fs-4"></i>
                    <h3>Quality</h3>
                </div>
                <div class="body w-50">
                    <p>We consistently seek quality and sustainability across all levels of our business to deliver value to our clients .</p>

                </div>
            </div>
        </div>

        <div  class="col-lg-3 ">
            <div class=" inner ">
                <div class="header d-flex">
                    <i class="fa-solid fa-suitcase-rolling fs-4"></i>  
                    <h3 class="ms-1">Professionalism</h3>
                </div>
                <div class="body w-95">
                    <p>The experienced execution team is accustomed to handling heavy workloads and overtime to ensure they are capable of assembling efficiently.
                    </p>

                </div>
            </div>
        </div>

        <div  class="col-lg-3 ">
            <div class=" inner ">
                <div class="header d-flex">
                    <i class="fa-regular fa-folder-closed fs-4"></i>
                     <h3 class="ms-2">Custom Order</h3>
                </div>
                <div class="body w-75">
                    <p>We have the capability to fulfill custom and special orders to meet our clients' quality and delivery specifications.

                    </p>

                </div>
            </div>
        </div>

        <div  class="col-lg-3 ">
            <div class=" inner ">
                <div class="header d-flex">
                    <i class="fa-solid fa-user-group fs-4"></i>
                    <h3 class="ms-2">Our Team</h3>
                </div>
                <div class="body w-70">
                    <p>Our future vision involves ongoing investment in talented and experienced individuals to foster innovation, creativity, and streamline the execution process.
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>
</section> 

<section class="home">
    <div class="row p-0">
        <div class="col-lg-6 p-0 position-relative ">
            <img src="assets/images/Status=Diversity.webp" alt="">
            <div class="text d-flex flex-column align-items-center justify-content-center text-white ">
            <h3 class="fs-1 ">Diversity</h3>
            <p class="mt-3 fs-5 px-6 text-center ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa sed velit doloremque repellat vitae, possimus expedita aliquam impedit iste id?</p>
        </div>
        </div>
        <div class="col-lg-6 p-0 position-relative">
            <img src="assets/images/Status=Our collections.webp" alt="">
            <div class="text d-flex flex-column align-items-center justify-content-center text-white ">
                <h3 class="fs-1 ">Diversity</h3>
                <p class="mt-3 fs-5 px-6 text-center ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa sed velit doloremque repellat vitae, possimus expedita aliquam impedit iste id?</p>
            </div>


        </div>
    </div>
    <div class="row">
        <div class="col-md-12 position-relative">
            <img src="assets/images/Status=Our vision.webp" alt="">
            <div class="text d-flex flex-column align-items-center justify-content-center text-white ">
                <h3 class="fs-1 ">Diversity</h3>
                <p class="mt-3 fs-5 px-6 text-center ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa sed velit doloremque repellat vitae, possimus expedita aliquam impedit iste id?</p>
            </div>
        </div>
    </div>
    <div class="row p-0">
        <div class="col-lg-6 p-0 position-relative">
            <img src="assets/images/Status=Our collections.webp" alt="">
            <div class="text d-flex flex-column align-items-center justify-content-center text-white ">
                <h3 class="fs-1 ">Diversity</h3>
                <p class="mt-3 fs-5 px-6 text-center ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa sed velit doloremque repellat vitae, possimus expedita aliquam impedit iste id?</p>
            </div>
        </div>
        <div class="col-lg-6 p-0 position-relative">
            <img src="assets/images/Status=Solutions & Services.webp" alt="">
            <div class="text d-flex flex-column align-items-center justify-content-center text-white ">
                <h3 class="fs-1 ">Diversity</h3>
                <p class="mt-3 fs-5 px-6 text-center ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa sed velit doloremque repellat vitae, possimus expedita aliquam impedit iste id?</p>
            </div>
        </div>
    </div>
</section>
